/*****************************/
/******VC WFS Client*********/
/*****************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    color: black;
    background-color: #F4F4F4;
    padding: 0;
}

:focus {
    outline: 0;
}

a {
    font-size: 10px;
    color: #555555;
    text-decoration: none;
    border: none
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

#content {
    position: absolute;
    width: 100%;
}

#container {
    color: #555555;
    position: absolute;
    top: 20px;
    right: 40px;
    left: 40px;
    bottom: 10px;
}

#Header {
    position: absolute;
    width: 100%;
}

#CompanyLogo {
    position: absolute;
    width: 100%;
}

#CompanyLogo h1 {
    position: absolute;
    top: 20px;
    left: 150px;
    color: #006A5D;
    font-size: 2em;
    font-weight: bold;
}

#leftcolumn {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
}

#copyright {
    bottom: 0;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 5px;
}

#Query, #Result {
    font: 12px "Arial", sans-serif;
    padding-top: 30px;
    padding-right: 5px;
}

#wfsbutton {
    background-color: #006A5D;
    margin-top: 15px;
    color: #fff;
    padding: 5px 25px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

#wfsbutton:hover, #wfsbutton:active {
    background-color: #555555;
}