<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wfs xmlns="http://www.3dcitydb.org/importer-exporter/config"
  xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.3dcitydb.org/importer-exporter/config schemas/config/config.xsd">
  <capabilities>
    <owsMetadata>
      <ows:ServiceIdentification>
        <ows:Title>3D City Database Web Feature Service</ows:Title>
        <ows:ServiceType>WFS</ows:ServiceType>
        <ows:ServiceTypeVersion>2.0.0</ows:ServiceTypeVersion>
      </ows:ServiceIdentification>
      <ows:ServiceProvider>
        <ows:ProviderName/>
        <ows:ServiceContact/>
      </ows:ServiceProvider>
    </owsMetadata>
  </capabilities>
  <featureTypes>
    <featureType>
      <name>Building</name>
      <ows:WGS84BoundingBox>
        <ows:LowerCorner>-180 -90</ows:LowerCorner>
        <ows:UpperCorner>180 90</ows:UpperCorner>
      </ows:WGS84BoundingBox>
    </featureType>
    <version>2.0</version>
  </featureTypes>
  <operations>
    <requestEncoding>
      <method>KVP+XML</method>
      <useXMLValidation>true</useXMLValidation>
    </requestEncoding>
    <exportCityDBMetadata>false</exportCityDBMetadata>
    <GetFeature>
      <outputFormats>
        <outputFormat name="application/gml+xml; version=3.1"/>
        <outputFormat name="application/json"/>
      </outputFormats>
    </GetFeature>
  </operations>
  <database>
    <referenceSystems>
      <referenceSystem id="WGS84">
        <srid>4326</srid>
        <gmlSrsName>http://www.opengis.net/def/crs/epsg/0/4326</gmlSrsName>
        <description>WGS 84</description>
      </referenceSystem>
    </referenceSystems>
    <connection 
      initialSize="10" 
      maxActive="100" 
      maxIdle="50" 
      minIdle="0" 
      suspectTimeout="60"
      timeBetweenEvictionRunsMillis="30000" 
      minEvictableIdleTimeMillis="60000">
      <description/>
      <type>PostGIS</type>
      <server/>
      <port>5432</port>
      <sid/>
      <schema/>
      <user/>
      <password/>
    </connection>
  </database>
  <server>
    <externalServiceURL>http://[server]:[port]/[context]</externalServiceURL>
    <maxParallelRequests>30</maxParallelRequests>
    <waitTimeout>60</waitTimeout>
  </server>
  <uidCache>
    <mode>database</mode>
  </uidCache>
  <logging>
    <file logLevel="info"/>
  </logging>
</wfs>